// Variables
$bg-color: #1d2021;
$fg-color: #e5e5e5;
$red-color: #9d0006;
$blue-color: #d4c4a1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $fg-color;
  background-color: $bg-color;
  padding: 8rem 0 4rem 0;
  line-height: 1.6; /* 1 */
  font-family: "Merriweather", serif;

  .loader {
    display: none;
  }

  h1,
  h2,
  h3 {
    font-family: "Lora";
    font-weight: bold;
    line-height: 1.1; /* 1 */
  }

  hr {
    margin-top: 3rem;
  }

  a {
    transition: text 5s ease;
    opacity: 1;
  }
  a:link,
  a:visited {
    color: $blue-color;
    text-decoration: none;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }

  strong {
    // font-weight: normal;
    font-size: 1.1rem;
  }

  .social-links {
    padding: 1em 0;
      display: flex;

    & > :not(:last-child) {
      margin-right: 1em;
    }

    a {
      display: inline-block;
      display: flex;
      align-items: center;
      font-size: .875rem;
        
      svg {
        width: 1rem;
        height: 1rem;
        margin-right: .5em;
      }
    }
  }
  // content max- withh
  .page-wrapper,
  .nav-wrapper {
    max-width: 42.5rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .page-wrapper .title {
    font-size: 1.5rem;
    // margin-bottom: 0;
  }
  .subtext {
    margin-top: 0;
    display: block;
font-size: .875rem;
    transform: translateY(-1rem);
  }
  .page-wrapper .text {
    padding: 0 0 0 .5em;
    font-size: 1rem;
  }

  .navbar {
    border-top: 2px solid $red-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #29292c;
    z-index: 99;

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 1.25rem;
        font-family: "Lora";
        font-weight: bold;
        line-height: 1.1; /* 1 */
      }
      ul {
        list-style: none;

        & > :not(:last-child) {
          margin-right: 1em;
        }
        li {
          display: inline-block;
          border-radius: 5px;
          // overflow: hidden;
          a {
            padding: 2px 16px;
            height: 100%;
            width: 100%;
            display: inline-block;
          }
        }
      }
      .blog-btn {
        background-color: #076678;
        // padding: 10px 18px;

        a:active,
        a:hover {
          background-color: #458588;
          text-decoration: none;
          border-radius: 5px;
        }
        // a {
        // }
      }
    }
  }

  @media only screen and (min-width: 36.25rem) {
    hr {
      margin-top: 5rem;
    }

    .navbar {
      .nav-wrapper {
        .logo {
          font-size: 1.5rem;
        }
      }
    }

    .page-wrapper {
      //
      .title {
        font-size: 1.875rem;
        opacity: 0.9;
      }
      .text {
        font-size: 1.05rem;
        opacity: 0.9;
        // padding: 0 0 0 1em;
      }
    }
  }

  footer {
    font-size: .875rem;

  }
}
