// Variables
$bg-color: #1d2021;
$fg-color: #e5e5e5;
$red-color: #9d0006;
$blue-color: #d4c4a1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $fg-color;
  background-color: $bg-color;
  margin: 0;
  font-size: 1rem;
  line-height: 1.6; /* 1 */
  font-family: "Merriweather", serif;

  .loader {
    display: none;
  }

  h1,
  h2,
  h3 {
    font-family: "Lora";
    font-weight: bold;
    line-height: 1.1; /* 1 */
  }

  hr {
    margin-top: 3rem;
  }

  a {
    transition: text 5s ease;
    opacity: 1;
  }
  a:link,
  a:visited {
    color: $blue-color;
    text-decoration: none;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }

  strong {
    // font-weight: normal;
    font-size: 1.1rem;
  }

  p {
    font-family: "Merriweather", serif;
    opacity: 0.9;
    font-size: 1.05rem;
  }

  .social-links {
    padding: 1em 0;
    display: flex;

    & > :not(:last-child) {
      margin-right: 1em;
    }

    a {
      display: inline-block;
      display: flex;
      align-items: center;
      font-size: 0.875rem;

      svg {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5em;
      }
    }
  }
  // content max- withh
  .blog-wrapper,
  .page-wrapper,
  .nav-wrapper {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .page-wrapper .title {
    font-size: 1.5rem;
    // margin-bottom: 0;
  }
  .blog-wrapper.blog-list-page-wrapper,
  .page-wrapper.home-page-wrapper {
    // padding-top: 10rem;
    padding-top: 4rem;
  }
  .subtext {
    margin-top: 0;
    display: block;
    font-size: 0.875rem;
    transform: translateY(-1rem);
  }
  .page-wrapper .text {
    padding: 0 0 0 0.5em;
    font-size: 1rem;
  }

  .navbar {
    border-top: 2px solid $red-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #29292c;
    z-index: 99;

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 1.25rem;
        font-family: "Lora";
        font-weight: bold;
        line-height: 1.1; /* 1 */
        a {
          color: $fg-color;
        }
      }
      ul {
        list-style: none;

        & > :not(:last-child) {
          margin-right: 1em;
        }
        li {
          display: inline-block;
          border-radius: 5px;
          // overflow: hidden;
          a {
            padding: 2px 16px;
            height: 100%;
            width: 100%;
            display: inline-block;
          }
        }
      }
      .blog-btn {
        background-color: #076678;
        // padding: 10px 18px;

        a:active,
        a:hover {
          background-color: #458588;
          text-decoration: none;
          border-radius: 5px;
        }
        // a {
        // }
      }
    }
  }

  @media only screen and (min-width: 36.25rem) {
    hr {
      margin-top: 5rem;
    }

    .navbar {
      .nav-wrapper {
        .logo {
          font-size: 1.5rem;
        }
      }
    }

    .page-wrapper {
      //
      .title {
        font-size: 1.875rem;
        opacity: 0.9;
      }
    }
  }

  footer {
    font-size: 0.875rem;
  }
}

.blog-wrapper {
  // max-width: 45rem;
  // margin: 0 auto;

  span.date,
  span.date {
    display: inline-block;
    opacity: 0.4;
    // margin-bottom: .5rem;
    // margin: 0 0 1em 0;
  }
}

.post-list {
  margin-top: 6rem;
  .post {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    margin-bottom: 2rem;

    .link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .post-thumnail {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      min-width: 15rem;
      img {
        width: 100%;
        // height: 100%;
      }
    }
    .post-title {
      padding: 0;
      margin: 0 0 1rem 0;
      font-size: 1.75rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .date {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .abstract {
      margin-bottom: 0.35rem;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .read-more-link {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  }
}

.blog-header {
  width: 100%;
  overflow: hidden;
  height: 20vh;
  // height: 35vh;
  max-height: 25rem;
  position: relative;

  background-position: center;
  background-size: cover;

  .back-link {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(#689d6a, 0.5);
    display: block;
    position: absolute;
    left: 10%;
    top: 10%;
    text-align: center;

    svg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
    }
  }
}

.blog-wrapper {
  .content {
    padding-top: 2.5rem;
    .post-title {
      text-align: center;
      font-size: 1.875rem;
      line-height: 1.3;
    }
    .tags {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      .name {
        display: block;
      }
    }

    .first-paragraph {
      padding-top: 2rem;
      // background-color: red;
    }

    // .first-paragraph::first-letter {
    //   font-size: 2rem;
    //   font-weight: bold;
    // }
  }
}

.about-author {
  margin: 6rem 0 4rem 0;
  .about-author {
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: capitalize;
    margin: 0;
  }
  .author-name {
    margin-bottom: 0;
    font-size: 2rem;
  }
  .container {
    // display: flex;

    .headshot {
      // background-color: red;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 10rem;
        border-radius: 50%;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      // margin-left: 2rem;
    }
  }
}

@media only screen and (min-width: 36.25rem) {
  .blog-wrapper.blog-list-page-wrapper,
  .page-wrapper.home-page-wrapper {
    padding-top: 10rem;
  }

  .blog-header {
    height: 35vh;
  }
  .post-list {
    .post {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: repeat(4, min-content);
      grid-column-gap: 1rem;
      .post-thumnail {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
      }

      .post-title {
        margin-bottom: 0.25rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      .date {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      .abstract {
        margin-top: 0.25rem;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
      .read-more-link {
        grid-column: 2 / 3;
        grid-row: 4 / 4;
      }
    }
  }

  .about-author {
    .container {
      display: flex;
      .details {
        margin-left: 2rem;
      }
    }
  }

  .content {
    .post-title {
      font-size: 1.875rem;
    }
  }
}
